<!doctype html>
<html>
<head>
  <title>Your Soical Media Liked</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/assignment.css" rel="stylesheet">
</head>

<body>
  <div class='container'>
    <div style="position:fixed;left:5%;width:90%;height:100%;background-color:#222222;opacity: 0.7">
    </div>
    <div style="position:absolute;left:5%;width:90%;height:100%;">
      <h3 style="color:white;margin-left:20px">Your Soical Media Liked</h3>
      <div id="instagramLogin">
        <button class="btn btn-default" id="instagramBtn" style="position:absolute;top:40px;margin-left:20px">Login with Instagram</button>
      </div>
      <div id="instagramPart" style="position:absolute;top:40px;margin-left:20px">
        <h4 style="color:white">On your Instagram:</h4>
        <div style="color:white">
          <font>Pictures you post: </font>
          <font id="instagramPost" >0</font>
          <br>
          <font>Likes you get: </font>
          <font id="instagramLike" >0</font>
        </div>
        <br>
      </div>
      <div id="facebookLogin" style="position:absolute;top:40px;margin-left:50%">
        <button class="btn btn-default" id="facebookBtn" style="margin-left:20px">Login with Facebook</button>
      </div>
      <div id="facebookPart" style="position:absolute;top:40px;margin-left:50%">
        <h4 style="color:white">On your Facebook:</h4>
        <div style="color:white">
          <font>Pictures you post: </font>
          <font id="facebookPost" >0</font>
          <br>
          <font>Likes you get: </font>
          <font id="facebookLike" >0</font>
        </div>
        <br>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>