<!doctype html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
	<div class='container'>
    <div name='instagram_login' style="position:fixed;top:40%;left:50%;margin-left:-100px;">
      <a href="/auth/instagram">
      <img src="picture/Instagram_signin.png" alt="Login with Instagram" style="width:200px">
      </a>
    </div>
    <div name='facebook_login' style="position:fixed;top:50%;left:50%;margin-left:-100px;">
      <a href="/auth/facebook">
      <img src="picture/Facebook_signin.png" alt="Login with Facebook" style="width:200px">
      </a> 
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/login.js"></script>
</body>
</html>